---
---
$primary: #B24D76;
// Import Main CSS file from theme
@import "main";


.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.bio {
  background: #ABE3CD;
  border-radius: 25px;
  padding: 10px;
  color: black;
}

@media screen and (min-width: 1000px) {
	.bio {
	  max-width: calc(35vw);
	}
}

.copied {

	opacity: 0;
	visibility: visible;
	color: #E0D8DE;
	background-color: #600060;
	font-size: 1.1rem;
	display: table;
  	right: 2%;
  	font-style: normal;
  	border: #E0D8DE;
  	border-style: solid;
  	position: relative;
  	z-index: 10;
  	margin: 10px 0px -20px 20px;


}

ul.list-inline{
margin-left: 0.5em;

}

body .uwy.userway_p1 .uai {
 margin-top: -10px;
}

.ease {
  	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.paperlink {
  background-color: #A1CECE;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  border: none;
  line-height: 20px;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px 5px 3px 6px;
  box-shadow: 3px 3px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;

}

.bib{
  background-color: #C2F2B6;
}
.arxiv{
  background-color: #B6E0F2;
}
.slides{
  background-color: #f2b6c2;
}
.poster{
  background-color: #FFCAB1;
}
.code{
  background-color: #f2f5a9;
}
.data{
  background-color: #E6B6F2;
}
.pdf{
  background-color: #B6C2F2;
}
.talk{
  background-color: #e1d0f5;
}
.website{
  background-color: #F2E6B6;
}

.paperlink:hover {
  background-color: #ccc;
  box-shadow: inset 1px 1px;
  text-decoration: none;
}
.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}

.highlight{

  background: #E0D8DE;
  border: 1px solid #A1CECE;
  font-family: 'Courier New', monospace;
  font-size: medium;
  user-select: all;
  white-space: pre;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 10px;
  visibility: hidden;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    height: 0;
    overflow: scroll;


  
}

.years {
 color: #81B29A;
  position: relative;
  z-index: 1;
 
  &:hover {
    color: white!important;
  }
}

	



.screen-reader-only {
    position: absolute;
    left: -5000px;

    &:focus {
        left: 0;
    }
}


.paperImage {
  width:250px;
}

#unscramble {
  cursor: pointer;
}


.people > tbody > tr
{
  display:flex;
  flex-wrap: wrap;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #6c757d;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-outline-primary {
  color: #81B29A;
  border-color: #81B29A;
  font-weight: bold;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #81B29A;
  border-color: #81B29A;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 206, 175, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0BCEAF;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #81B29A;
  border-color: #81B29A;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 206, 175, 0.5);
}

.m-1 {
  margin: 0.25rem !important;
}


.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.align-items-center {
  align-items: center !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;

}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}



.list-inline {
  padding-left: 0;
  list-style: none !important;
}

mark {
	background: #B24D76;
	color: white;
	padding: 3px;
	
}



.hero.is-primary.is-bold {
	background-image: url("../img/LARA-lab-white.png");
  	background-size: 50vh;
	  background-repeat: no-repeat;
	  background-position-y: center;
}

.hero.is-primary .title {
	text-align: right;
}
